* {
    margin:0;
    padding:0;
}

body {
    background: #abd195 url("images/green_background.jpg") top left repeat;
    color: #75480a;
    font-family:sans-serif;
    font-size: 14px;
}

/* layout */

#logo {
    display: block;
    width: 200px;
    margin:40px auto;
    background: none;
}

#container {
    width:760px;
    margin:auto;
    padding:40px;
    background: url("images/yellow_background.jpg") top left repeat;
}

#container:after {
    content: ' ';
    display: block;
    height:0;
    clear: both;
    visibility: hidden;
}

#main-content {
    width: 500px;
    float: left;
}

#sidebar {
    background: url("images/texture_background.jpg") top left repeat;
    width: 200px;
    float: left;
    padding:20px 20px 0;
    margin:0 0 0 20px;
}

#sidebar h3 {
    background: url("images/green_background.jpg") top left repeat;
    padding: 10px 10px 10px 30px;
    margin:0 0 5px;
    color: #ffffff;
    position: relative;
    left:-30px;

}
#sidebar .widget {
    margin: 0 0 20px;
}


address ul {
    list-style: none;
}

h1, h2, h3, h4 {
    font-family:SansSerif;
    font-weight:normal;
}

h1 {
    font-size:40px;
}

p.lead {
    font-family:"Sakkal Majalla";
    font-size:18px;
    margin:0 0 30px;
}

a:link {
    width:160px;
    text-align: center;
    background: #577a1b;
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
}

#sidebar a:link {
    display: inline-block;
}


#special-offer {
    background: url("images/red_background.jpg") top left repeat;
    color: #ffffff;
    padding: 0 20px 20px 20px;
    margin:60px 0 0 0;
}

#special-offer h2 {
    font-size:22px;
    background: url("images/green_background.jpg")top left repeat;
    padding: 5px;
    display: inline;
    position: relative;
    left: -35px;
    top: -15px;
}

#special-offer {
    position: relative;
}
#steak {
    position: absolute;
    bottom: -20px;
    right: 10px;;
}




































