/*  CSS */

* {
    margin:0;
    padding:0;
}

body {
    background: black url("images/background.jpg") top center no-repeat;
    font-size:20px;
    font-family:Helvetica,SansSerif;
    font-weight:lighter;
    text-align: center;
    padding:40px;
    color:#333;
    -webke-font-smoothing:antialiased;
    text-rendering: optimizelegibility;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:normal;
    padding:0 0 10px;
    margin:0 0 10px;
}

#container {
    width:600px;
    margin:0 auto;
}

.content-block {
    background:url("images/transparent_white.png") top left repeat;
    padding:20px;
    margin:20px 0;
}

#content {
    border:solid 10px black;
}

#reserve {
    border:solid 10px white;
}

#footer {
    background:black;
    color: #ffffff;
}

form {
    text-align: left;
    width: 300px;
    margin:20px auto 0;
}

form label {
    display: block;
    width:290px;
    padding:5px;
    text-transform: uppercase;
    font-weight:bold;
    background: #333;
    color: #ffffff;
}

form input {
    display: block;
    width: 290px;
    padding:5px;
    margin:0 0 10px;
    font-size:22px;
    border:none;
    font-style: italic;
}

form input[type=submit] {
    background: #333;
    color: #ffffff;
    cursor: pointer;
    width:300px;
}










