body {
    background: #333;
    font-family: serif, monospace;
    color: #ffffff;
    font-size: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: cursive, arial;
    color: #ffcc33;
}

h1  {
    border: dashed 1px #ffcc33;
    background: #000;
    font-size: 3em;
    padding: 10px;
}

ol {
    border: solid 4px #ffcc33;
    background: #33bcde;
    padding: 20px 20px 20px 40px;
    margin: 5% 0;
}

a {
    color: #ffcc33;
}

strong {
    color: pink;
}